.form {
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
  @apply p-6 bg-primaryBg rounded-md flex flex-col max-w-[700px] min-w-[300px] w-full;
  h1 {
    @apply font-medium text-primaryText text-center text-2xl;
  }
  label {
    @apply text-primaryText font-medium mb-2 mt-4 w-max;
  }

  button {
    @apply bg-primaryIcon rounded-md mt-6 pt-2 pb-2 text-primaryText;
    transition: 0.2s linear box-shadow;
    &:hover {
      box-shadow: 0px 0px 5px 2px rgb(35, 165, 89);
    }
  }

  a {
    @apply mt-2 text-primaryText cursor-pointer w-max;
    &:hover {
      text-decoration: underline;
    }
  }
}

.input {
  @apply bg-dark text-primaryText border-none outline-none p-2 rounded-md;
  &:focus {
    box-shadow: 0px 0px 5px 2px rgb(35, 165, 89);
  }
}

.error {
  box-shadow: 0px 0px 5px 2px rgb(165, 37, 35);
  &:focus {
    box-shadow: 0px 0px 5px 2px rgb(165, 37, 35);
  }
}

.errortext {
  color: rgb(165, 37, 35) !important;
}
