.wrapper {
  @apply h-screen w-64 bg-secondaryBg;
}

.btn {
  @apply h-full w-full p-1 pl-2 bg-dark text-secondaryText flex justify-start items-center rounded-md;
}

.list {
  @apply list-none p-2 pr-2 flex flex-col items-start;
}

.channels {
  @apply w-full p-2 pr-0;
}

.topchannels {
  user-select: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  @apply flex justify-between items-center pr-4 pl-2
    text-secondaryText;
  &:hover {
    @apply text-primaryText;
  }
  svg {
    cursor: pointer;
  }
}
